/*
 * Createx | Multipurpose Bootstrap Template
 * Copyright 2021 Createx Studio
 * Theme styles
*/

// User variables
@import 'user-variables';

// Configuration & utilities
@import 'variables';
@import 'mixins';
@import 'utilities';

// Bootstrap
@import '../vendor/bootstrap/scss/bootstrap';

// Layout & components
@import 'reboot';
@import 'components';

// Custom Core
@import 'user';

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 1.5s infinite;
}
